
project = "infra-228815"
public_key_path = "~/.ssh/appuser.pub"
disk_image = "reddit-base"
private_key_path = "~/.ssh/appuser"
count = "1"
provision_var = "1"
app_disk_image= "reddit-base-app"
db_disk_image="reddit-base-db"
files_puma_service = "../files/puma.service"
files_deploy_sh = "../files/deploy.sh"
db_internal_ip = "${module.db.db_internal_ip}"